.auto-text {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
    color: #2d3748;
    text-align: center;
    max-width: 800px;
 
}

.changing-text {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    font-weight: 600;
}


.changing-text>span {
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
    animation: fadeChange 30s infinite ease-in-out;
    width: 100%;
    text-align: center;
}

.changing-text>span:nth-child(1) {
    animation-delay: 0s;
}

.changing-text>span:nth-child(2) {
    animation-delay: 6s;
}

.changing-text>span:nth-child(3) {
    animation-delay: 12s;
}

.changing-text>span:nth-child(4) {
    animation-delay: 18s;
}

.changing-text>span:nth-child(5) {
    animation-delay: 24s;
}

@keyframes fadeChange {
    0% {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
    }

    1% {
        visibility: visible;
    }

    3% {
        opacity: 1;
        transform: translateY(0);
    }

    17% {
        opacity: 1;
        transform: translateY(0);
    }

    19% {
        opacity: 0;
        transform: translateY(-20px);
    }

    20% {
        visibility: hidden;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
    }
}